{% extends '@Home/base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block body %}

    <header class="center">
        <div class="filtre">
            <h1>
                Mes recettes
            </h1>
            <h3>
                Sauvegarder et personnalisez<br>
                vos recettes préférées
            </h3>
            <a class="waves-effect waves-light btn jaune black-text inscrit" href="/register">s'inscrire</a>
        </div>
    </header>
{% endblock %}
