{% extends '@Home/base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block body %}

    <div class="container marginT">
        <div class="row">
            <a href="/entrees">
                <div class="col s12 m6 l3 Lentrees">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light entrees">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator jaune-text">Les entrées</span>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/plats">
                <div class="col s12 m6 l3 Lplats">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light plats">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator jaune-text">Les plats</span>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/sauces">
                <div class="col s12 m6 l3 Lsauces">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light sauces">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator jaune-text">Les sauces</span>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/desserts">
                <div class="col s12 m6 l3 Ldesserts">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light desserts">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator jaune-text">Les desserts</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

{% endblock %}
