
/*======================================================= Init =======================================================*/

@font-face {
    font-family: "Satisfy";
    src: url("font/Satisfy-Regular.ttf");
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
.jaune{
    background-color: #FFB03B;
}
.jaune-text{
    color: #FFB03B;
}
select{
    display: block;
}
.marginT{
    margin-top: 50px;
}
/*======================================================= NavBar =======================================================*/

.Logo{
    max-height: 100px;
}
.bordureRond{
    background-color: #FFB03B;
    width: 200px;
    height: 110px;
    border-radius: 50%;
}
.blancrond{
    background-color: #ffffff;
    width: 200px;
    height: 104px;
    border-radius: 50%;
}
.bordurenav{
    border-bottom: 3px solid #FFB03B;
}

/*======================================================= Index =======================================================*/

header{
    background: url(../img/banner-bg.jpg) center;
    height: 450px;
    background-size: cover;
}
.filtre{
    background-color: rgba(0, 0, 0, 0.44);
    padding: 80px 20px;
    height: 450px;
}
header h1{
    font-family: "Satisfy";
    color: #FFB03B;
}
header h3{
    font-family: "Satisfy";
    color: #FFFFFF;
}
.inscrit{
    text-transform: capitalize;
    border-radius: 20px;
    font-size: 1em;
}

/*======================================================= Recettes =======================================================*/

.card .card-content .card-title {
    text-transform: uppercase;
    margin-bottom: 0;
    white-space: nowrap;
    font-size: 1.4rem;
}
.card .card-content{
    padding: 16px 6%;
}
.card .card-image{
    height: 200px;
    background-size: cover;
}
.entrees{
    background: url(../img/categories/entrees.jpg) center;
}
.plats{
    background: url(../img/categories/plats.jpg) center;
}
.sauces{
    background: url(../img/categories/sauces.jpg) center;
}
.desserts{
    background: url(../img/categories/desserts.jpg) center;
}
